body,
body div,
body a {
  cursor: url("/images/game-die.png"), auto !important;
}

button {
  color: white !important;
  width: 20%;
  margin: auto !important;
}

.il-mondo-box {
  cursor: pointer;
}

.il-mondo-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
}
